p {
  text-align: center;
}

.title {
  font-size: 54px;
  text-align: center;
  margin-top: 50px;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 45px;
    text-align: center;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 407px) and (max-width: 480px) {
  .title {
    font-size: 38px;
    text-align: center;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 406px) {
  .title {
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
  }
}