* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(14, 16, 23);
  color: rgb(232, 230, 227);
}

a {
  text-decoration: none;
  color: rgb(255, 111, 89);
}

#user-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 250px 50px 250px;
}

input,
.results {
  height: 48px;
  display: inline-block;
  border: 2px solid rgb(35, 58, 140);
  border-radius: 6px;
  box-sizing: border-box;
  color: rgb(232, 230, 227);
  background-color: transparent;
}

input {
  margin-right: 7px;
  width: 445px;
  padding: 12px 24px;
}

hr {
  flex-basis: 100%;
  height: 0;
  margin: 0;
  border: 0;
}

.submit {
  font-family: Inter, sans-serif;
  margin-left: 7px;
  font-size: 16px;
  height: 48px;
  padding-right: 24px;
  padding-left: 24px;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  border: 2px solid rgb(35, 58, 140);
  border-radius: 6px;
  font-weight: 600;
  background-color: transparent;
  transition: background-color 0.5s, color 0.5s;
}

.submit:hover {
  background-color: rgb(35, 58, 140);
}

.w-button {
  color: rgb(232, 230, 227);
  text-decoration-color: initial;
  padding: 9px 15px;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.results {
  margin-top: 14px;
  font-size: 16px;
  padding: 11px 24px;
  width: auto;
}

.channel {
  margin-right: 7px;
}

.followers {
  margin-left: 7px;
}

.results span {
  color: rgb(78, 137, 211);
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  input {
    width: 400px;
  }

  .results {
    font-size: 15px;
    padding: 10px 20px;
  }

  #user-search {
    margin: 50px 200px 50px 200px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  input {
    width: 375px;
  }

  .results {
    font-size: 14px;
    padding: 11px 15px;
  }

  #user-search {
    margin: 50px 120px 50px 120px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  input {
    width: 138px;
  }

  .results {
    width: 250px;
    font-size: 11px;
    padding-top: 6px;
    padding-left: 16px;
  }

  #user-search {
    margin: 30px;
    margin-top: 50px 120px 50px 120px;
  }
}

@media only screen and (min-width: 407px) and (max-width: 480px) {
  input {
    width: 260px;
  }

  .results {
    width: 350px;
    font-size: 13px;
    padding: 0px 0px;
    padding-top: 3px;
    padding-left: 30px;
  }

  #user-search {
    margin: 14px;
    margin-top: 40px;
    margin-bottom: 25px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 406px) {
  input {
    width: 170px;
  }

  .results {
    width: 275px;
    font-size: 11px;
    padding: 0px 0px;
    padding-top: 7px;
    padding-left: 5px;
  }

  #user-search {
    margin: 14px;
    margin-top: 40px;
  }
}